[Unit]
Description=Probatter
After=network.target syslog.target auditd.service systemd-journald.socket basic.target system.slice

[Service]
User=pi
WorkingDirectory=/home/pi/hawks_probatter
Environment=XAUTHORITY=/home/pi/.Xauthority
Environment=DISPLAY=:0.0
Environment=FLASK_CONFIG=production
Environment=FLASK_APP="hawks_batter_server/server/app:create_app()"
ExecStart=/home/pi/.local/bin/flask run --host '0.0.0.0'
Restart=always

[Install]
WantedBy=multi-user.target
